body {
  background-color: rgb(20, 20, 20);
  margin: 0px;
}

#menu {
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu-item {
  color: white;
  font-size: clamp(3rem, 8vw, 8rem);
  font-family: "Ibarra Real Nova",serif;
  
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vh, 1rem) 0rem;
  transition: opacity 400ms ease;
}

#menu-items {
  margin-left: clamp(4rem, 20vh, 48rem);
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

#menu-background-pattern {
  height: 100vh;
  width: 100vw;

  background-image: radial-gradient(
    rgba(2255, 255, 255, 0.1) 9%,
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index:1; 

  transition: opacity 800ms ease,
    background-size: 800ms ease;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items {
  margin-left: clamp(4rem, 20vh, 48rem);
  position: relative;
  z-index: 2;
}

#menu[data active index="0"] > #menu background pattern {
  background-position: 0% -25%;
}
#menu[data active index="1"] > #menu background pattern {
  background-position: 0% -50%;
}
#menu[data active index="2"] > #menu background pattern {
  background-position: 0% -75%;
}
#menu[data active index="3"] > #menu background pattern {
  background-position: 0% -100%;
}


#menu-background-image {
  height: 100%;
  width: 100%;

  background-image: url("https://img.freepik.com/free-photo/beautiful-milky-way-night-sky_53876-139825.jpg?w=1380&t=st=1666296512~exp=1666297112~hmac=72d0db23e0eae460220ba01123f8f57ac6ced5698615ffd4b1f0e747a7769873");
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;

  background-position: center 40%;
  background-size: 110vmax;
  opacity: 0,15;

  transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.10;
}